<footer>
    <div class="info">
        <a href="">International |</a>
        <a href="">Acerca de Pizza |</a>
        <a href="">
            Política de Tratamiento de Datos |</a>
        <a href="">Aviso de Privacidad |</a>
        <a href="">Terminos y Condiciones |</a>
        <a href="">Reversion de Pagos |</a>
        <a href="">Politica de Alergenos |</a>
        <a href="">Sugerencias y Reclamos |</a>
        <a href="">Alianzas y Promociones |</a>
        <a href="">Ventas Corporativas |</a>
        <a href="">Directorio Tiendas |</a>
        <a href="">Facturacion Electronica |</a>
        <a href="">Super. Ind y Comercio SIC |</a>
    </div>
    <div class="socialMedia"></div>
    <div class="disclamer">
        <p>SUSPENSIÓN INDEFINIDA DE LA PROMESA DE VALOR 30 MINUTOS O GRATIS:</p><br>
        <p>APRECIADOS CLIENTES: Hoy estamos viviendo una situación mundial que nos ayuda a despertar la
            ciencia humana y nos lleva a tomar decisiones basadas en el bien colectivo más que en
            individual. Como Domino´s llevamos 30 años en Colombia entregando pizzas con la promesa de valor
            de 30 minutos ó gratis y hemos atendido a miles de clientes que siempre reciben con una sonrisa
            nuestro producto con la mejor calidad y en el menor tiempo posible. En estos días atendiendo al
            llamado del gobierno, la recomendación es que permanezcamos en casa y Domino´s es una excelente
            alternativa para llevar hasta ella un delicioso producto sin necesidad de desplazarse.
            Priorizando la salud y seguridad de nuestros clientes y empleados, nos hemos enfocado en
            reforzar nuestros ya exigentes procesos de limpieza, sanitización e higiene, lo cual tendrá un
            impacto en nuestros tiempos de entrega. Es por esta razón que nos vemos obligados a suspender de
            manera indefinida nuestra promesa de valor de 30 minutos o gratis. Nuestros productos seguirán
            contando con la misma calidad de siempre, al igual que nuestro enfoque en hacer todo lo posible
            para que cada experiencia que se tenga con nosotros sea un momento memorable. Queremos también
            contarles que a través de <a href="www.dominos.com.co">www.dominos.com.co</a> los clientes
            pueden programar su pedido para que llegue en un tiempo especifico a sus hogares. Solo nos queda
            reiterar que continuamos reforzando nuestros protocolos de limpieza e higiene para brindarle a
            los clientes y empleados la mayor protección posible. Agradecemos mucho su comprensión y tenemos
            la firme creencia que la situación volverá a la normalidad en el corto plazo.</p>

    </div>
</footer>