<nav>
    <ul>
        <li>
            <a href="/"><img src="Img/logoDominos.png" alt="" class="navImgLogo"></a>
        </li>
        <li><a href="/pedido">PIDE EN LINEA</a></li>
        <li><a href="/menu">MENU</a></li>
        <li><a href="/pedido">TIENDAS</a></li>
        <li>SIGUE TU PEDIDO</li>
        <li>CUPONES</li>
        <div class="navRightPart">
            <li>INICIAR SESION</li>
            <li class="carrito">CARRITO<div class="mostrarCarrito oculto">
                <h1>Tu Carrito:</h1>
<script src="https://kit.fontawesome.com/713b0e47db.js" crossorigin="anonymous"></script>
            </div></li>
        </div>

    </ul>
</nav>
