<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>

    <body>
        <div class="conteiner">
            <%- include('../partials/nav.ejs') %>
                <section class="menuPrincipal">
                    <div class="opcionConteiner">
                        <div class="opcion">
                            <img src="" alt="">
                            <h2>ESCOGE TU ESPECIALIDAD PREFERIDA</h2>
                            <section class="menuPizza">

                            </section>
                        </div>
                        <div class="opcion">
                            <img src="" alt="">
                            <h2>ACOMPAÑAMIENTOS</h2>
                            <section class="menuAcompa">

                            </section>
                        </div>
                        <div class="opcion">
                            <img src="" alt="">
                            <h2>BEBIDAS</h2>
                            <section class="menuBebida">
                    
                            </section>
                        </div>
                    </div>
                    <div class="botonPedido">
                        <button type="submit" class="botonPedidoB">HACER PEDIDO</button>
                    </div>
                </section>
                
              
               
                <%- include('../partials/footer.ejs') %>
        </div>
    </body>
    <script src="js/Producto.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/mostrarCarrito.js"></script>
    <script src="js/procesarPedido.js"></script>
</html>