<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>

    <body>
        <div class="conteinerT">
           
        </div>
        <form action="/actualizarTabla" class="form" method="POST"></form>
    </body>
    <script>
        let datos = []
        datos = <%-datos%>;
   </script>
    <script src="js/mostrarTabla.js"></script>
    
</html>